



/* ---------------------------------header----------------------------- */
header{
	width: 100%;
	background-color: #1a1a1a;
	/* border: 1px solid red; */
}
.header-main{
	width: 80%;
	margin: 0 auto;
}
.m_l{
	color: #fff;
	padding: 15px;
}
.m_l img{
	float: left;
	width: 20%;
}
.m_c{

}
.m_c ul{
	display: flex;
	justify-content:space-between;
}
.m_c ul li{
	padding: 20px 0;
}
.m_c ul li a{
	color: #fff;
}
.m_r{
	padding: 15px;
}
.m_r p{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #487AF6;
	border-radius: 50px; 
}
.m_r a{
	color: #fff;
}


/* -------------------------------------banner-------------------------------------- */
.banner img{
	width: 100%;
}


/* --------------------------------------content-------------------------------------- */
.content{
	width: 70%;
	margin: 0 auto;
	/* border: 1px solid red; */
}
.con_yq{
	margin-top: 50px;
	/* border: 1px solid red; */
}
.con_yq p ,.con_tj p{
	font-size: 23px;
}
.yq_main{
	margin-top: 20px;
	background: #F7FAFC;
}
.yq_main h1{
	padding: 20px 0 15px 0;
	font-size: 25px;
	text-align: center;
}
.yq_main p{
	padding: 0px 0 10px 0;
	font-size: 17px;
	text-align: center;
	color: #87888C;
}
.yq_t{
	/* border: 1px solid red; */
}
.yq_t img{
	width: 27px;
	padding: 0 10px;
}



.con_tj{
	margin-top: 50px;
}
.con_tj img{
	width: 100%;
}
.tj_b{
	border-radius: 10px
}
.tj_b dl img{
	border-radius: 10px 10px 0 0;
}
.tj_b dl dt{
	border-radius: 10px 10px 0 0;
}
.tj_b dl dd{
	color: #A4A2A2;
}




.con_dt{
	margin-top: 40px;
}
.con_dt p{
	font-size: 23px;
}
.dt_a{

}
.dt_a img{
	width: 100%;
}
.dt_a p{
	padding: 20px;
	font-size: 14px;
}



.con_bk{
	/* border: 1px solid red; */
}
.con_bk img{
	width: 100%;
}











/* --------------------------------------合作伙伴----------------------------------------------- */
.hzhb{
	background-color: #F7FAFC;
	padding: 40px 0;
}





/* ------------------------------------------footer---------------------------------------------- */
.footer_top{
	background-image: url(./img/footer.png)
}
.fmain{
	width: 70%;
	margin: 0 auto;
}
.fmain ul{
	display: flex;
	justify-content:space-between;
}
.fmain li{
	color: #fff;
	padding: 50px 0;
}
.QQ{
	margin: 25px 0;
	border-left: 1px solid#8791A5;
}
.QQ img{
	margin: 5px;
}
.QQ p{
	color: #fff;
	text-align: center;
}
.xiao p{
	text-align: center;
	color: #B5C0D4;
}



.footer_b{
	background: #5C6679;
}
.footer_b p{
	padding: 10px;
	color: #fff;
	font-size: 10px;
	text-align: center;
}







/* @media screen and (max-width:750px) {
	.m_c-moblie{
		display: inline-block;
	}
	.header-desktop{
		display: none;
	}
} */



